body {
  background: radial-gradient(
    328px at 2.9% 15%,
    #d6f1ff 0%,      
    #e0f5ff 25.8%,   
    #ebf9ff 50.8%,   
    #f3fbff 77.6%,   
    #f9fdff 100.7%   
  );
}

.App main {
  width: 800px;
  display: block;
  margin: 0 auto;
}

.App-logo {
  width: 300px;
  display: block;
  margin: 0 auto;
  padding: 30px 20px;
}

.App-footer {
  text-align: center;
  margin: 40px 0;
}

.App-footer a {
  color: #9670f4;
  text-decoration: none;
}